doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title versal
    meta(name='description', content='versal')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')
    meta(name='theme-color', content='#9a0000')

  body
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-74173950-1', 'auto');
      ga('send', 'pageview');

    .intro-section.section
      .intro-section-bg
        .intro-section-bg-image
          include includes/intro-bg.html
      .intro-section-container.container
        img.main-logo(src="images/versal.svg", alt="versal")
        .line-up
          h2.line-up-artist
            span.name
              | Derobla
            span.type live
          h2.line-up-artist
            span.name
              | Shit Japens
            span.type live
        .location
          p
            span.block.date 6.10.2017 — 19:30
            span.block.name Miscelanea
            span.block.address Carrer de Guàrdia 10 Barcelona

    .history-section
      .container
        .about
          | Versal es un evento que apuesta por directos de electrónica arriesgada, en el que se valora la experimentación y el vanguardismo. Una propuesta de música electrónica diferente que da cabida a artistas emergentes del panorama musical nacional.
        .history-list
          .history-list-title Ediciones Anteriores
          .history-event
            .history-event-count 5
            .history-event-info
              .history-event-date 23 Jun 2017
              .history-event-artist Hayk An dj set / Ghostly Enemies dj set / JACKTOME dj set
          .history-event
            .history-event-count 4
            .history-event-info
              .history-event-date 8 Oct 2016
              .history-event-artist Huma live  /  Beyond live
          .history-event
            .history-event-count 3
            .history-event-info
              .history-event-date 21 May 2016
              .history-event-artist Sunny Graves dj set  /  Fernando Lagreca live
          .history-event
            .history-event-count 2
            .history-event-info
              .history-event-date 17 Feb 2016
              .history-event-artist Ghostly Enemies live  /  Mans o live
          .history-event
            .history-event-count 1
            .history-event-info
              .history-event-date 14 Nov 2015
              .history-event-artist Drömnu live  /  Jack Was Faster live

