@font-face {
  font-family: "GT-Walsheim";
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Ultra-Light.eot");
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Ultra-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Walsheim/GT-Walsheim-Ultra-Light.woff") format("woff"), url("../fonts/GT-Walsheim/GT-Walsheim-Ultra-Light.ttf") format("truetype"), url("../fonts/GT-Walsheim/GT-Walsheim-Ultra-Light.svg#GT-Walsheim") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "GT-Walsheim";
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Ultra-Light-Oblique.eot");
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Ultra-Light-Oblique.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Walsheim/GT-Walsheim-Ultra-Light-Oblique.woff") format("woff"), url("../fonts/GT-Walsheim/GT-Walsheim-Ultra-Light-Oblique.ttf") format("truetype"), url("../fonts/GT-Walsheim/GT-Walsheim-Ultra-Light-Oblique.svg#GT-Walsheim") format("svg");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "GT-Walsheim";
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Thin.eot");
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Walsheim/GT-Walsheim-Thin.woff") format("woff"), url("../fonts/GT-Walsheim/GT-Walsheim-Thin.ttf") format("truetype"), url("../fonts/GT-Walsheim/GT-Walsheim-Thin.svg#GT-Walsheim") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "GT-Walsheim";
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Thin-Oblique.eot");
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Thin-Oblique.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Walsheim/GT-Walsheim-Thin-Oblique.woff") format("woff"), url("../fonts/GT-Walsheim/GT-Walsheim-Thin-Oblique.ttf") format("truetype"), url("../fonts/GT-Walsheim/GT-Walsheim-Thin-Oblique.svg#GT-Walsheim") format("svg");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "GT-Walsheim";
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Light.eot");
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Walsheim/GT-Walsheim-Light.woff") format("woff"), url("../fonts/GT-Walsheim/GT-Walsheim-Light.ttf") format("truetype"), url("../fonts/GT-Walsheim/GT-Walsheim-Light.svg#GT-Walsheim") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GT-Walsheim";
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Light-Oblique.eot");
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Light-Oblique.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Walsheim/GT-Walsheim-Light-Oblique.woff") format("woff"), url("../fonts/GT-Walsheim/GT-Walsheim-Light-Oblique.ttf") format("truetype"), url("../fonts/GT-Walsheim/GT-Walsheim-Light-Oblique.svg#GT-Walsheim") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "GT-Walsheim";
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Regular.eot");
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Walsheim/GT-Walsheim-Regular.woff") format("woff"), url("../fonts/GT-Walsheim/GT-Walsheim-Regular.ttf") format("truetype"), url("../fonts/GT-Walsheim/GT-Walsheim-Regular.svg#GT-Walsheim") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GT-Walsheim";
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Regular-Oblique.eot");
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Regular-Oblique.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Walsheim/GT-Walsheim-Regular-Oblique.woff") format("woff"), url("../fonts/GT-Walsheim/GT-Walsheim-Regular-Oblique.ttf") format("truetype"), url("../fonts/GT-Walsheim/GT-Walsheim-Regular-Oblique.svg#GT-Walsheim") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "GT-Walsheim";
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Medium.eot");
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Walsheim/GT-Walsheim-Medium.woff") format("woff"), url("../fonts/GT-Walsheim/GT-Walsheim-Medium.ttf") format("truetype"), url("../fonts/GT-Walsheim/GT-Walsheim-Medium.svg#GT-Walsheim") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GT-Walsheim";
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Medium-Oblique.eot");
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Medium-Oblique.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Walsheim/GT-Walsheim-Medium-Oblique.woff") format("woff"), url("../fonts/GT-Walsheim/GT-Walsheim-Medium-Oblique.ttf") format("truetype"), url("../fonts/GT-Walsheim/GT-Walsheim-Medium-Oblique.svg#GT-Walsheim") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "GT-Walsheim";
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Bold.eot");
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Walsheim/GT-Walsheim-Bold.woff") format("woff"), url("../fonts/GT-Walsheim/GT-Walsheim-Bold.ttf") format("truetype"), url("../fonts/GT-Walsheim/GT-Walsheim-Bold.svg#GT-Walsheim") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "GT-Walsheim";
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Bold-Oblique.eot");
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Bold-Oblique.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Walsheim/GT-Walsheim-Bold-Oblique.woff") format("woff"), url("../fonts/GT-Walsheim/GT-Walsheim-Bold-Oblique.ttf") format("truetype"), url("../fonts/GT-Walsheim/GT-Walsheim-Bold-Oblique.svg#GT-Walsheim") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "GT-Walsheim";
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Black.eot");
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Walsheim/GT-Walsheim-Black.woff") format("woff"), url("../fonts/GT-Walsheim/GT-Walsheim-Black.ttf") format("truetype"), url("../fonts/GT-Walsheim/GT-Walsheim-Black.svg#GT-Walsheim") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "GT-Walsheim";
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Black-Oblique.eot");
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Black-Oblique.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Walsheim/GT-Walsheim-Black-Oblique.woff") format("woff"), url("../fonts/GT-Walsheim/GT-Walsheim-Black-Oblique.ttf") format("truetype"), url("../fonts/GT-Walsheim/GT-Walsheim-Black-Oblique.svg#GT-Walsheim") format("svg");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "GT-Walsheim";
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Ultra-Bold.eot");
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Ultra-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Walsheim/GT-Walsheim-Ultra-Bold.woff") format("woff"), url("../fonts/GT-Walsheim/GT-Walsheim-Ultra-Bold.ttf") format("truetype"), url("../fonts/GT-Walsheim/GT-Walsheim-Ultra-Bold.svg#GT-Walsheim") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "GT-Walsheim";
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Ultra-Bold-Oblique.eot");
  src: url("../fonts/GT-Walsheim/GT-Walsheim-Ultra-Bold-Oblique.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Walsheim/GT-Walsheim-Ultra-Bold-Oblique.woff") format("woff"), url("../fonts/GT-Walsheim/GT-Walsheim-Ultra-Bold-Oblique.ttf") format("truetype"), url("../fonts/GT-Walsheim/GT-Walsheim-Ultra-Bold-Oblique.svg#GT-Walsheim") format("svg");
  font-weight: 900;
  font-style: italic;
}