body{
  font-family: 'Cousine', monospace;
  background-color: #E6E6E6;
  margin: 0;
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-wrap{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line{
  width: 80%;
  height: 4px;
  background-color: #C30000;
  transform: rotate(-15deg);
  animation: drawline 1s cubic-bezier(1, 0, 0.2, 1);
}

@keyframes drawline{
  0%{
    width: 0%;
  }
}