.history-section
  .container
    .about
      | Versal es un evento que apuesta por directos de electrónica arriesgada, en el que se valora la experimentación y el vanguardismo. Una propuesta de música electrónica diferente que da cabida a artistas emergentes del panorama musical nacional.
    .history-list
      .history-list-title Ediciones Anteriores
      .history-event
        .history-event-count 6
        .history-event-info
          .history-event-date 23 Jun 2017
          .history-event-artist 
            | Hayk An 
            span.history-act-type dj set 
            span.history-artist-divider /
            | Ghostly Enemies 
            span.history-act-type dj set
            span.history-artist-divider /
            | JACKTOME 
            span.history-act-type dj set
      .history-event
        .history-event-count 5
        .history-event-info
          .history-event-date 17 Feb 2017
          .history-event-artist Modern Obscure Music Soundsystem 
            span.history-act-type dj set
            span.history-artist-divider /
            | Eterna 
            span.history-act-type live
            span.history-artist-divider /
            | Defled 
            span.history-act-type live
      .history-event
        .history-event-count 4
        .history-event-info
          .history-event-date 8 Oct 2016
          .history-event-artist 
            | Huma 
            span.history-act-type live
            span.history-artist-divider / 
            | Beyond 
            span.history-act-type live
      .history-event
        .history-event-count 3
        .history-event-info
          .history-event-date 21 May 2016
          .history-event-artist 
            | Sunny Graves 
            span.history-act-type dj set
            span.history-artist-divider / 
            | Fernando Lagreca 
            span.history-act-type live
      .history-event
        .history-event-count 2
        .history-event-info
          .history-event-date 17 Feb 2016
          .history-event-artist 
            | Ghostly Enemies 
            span.history-act-type live
            span.history-artist-divider / 
            | Mans o 
            span.history-act-type live
      .history-event
        .history-event-count 1
        .history-event-info
          .history-event-date 14 Nov 2015
          .history-event-artist 
            | Drömnu 
            span.history-act-type live
            span.history-artist-divider / 
            | Jack Was Faster 
            span.history-act-type live

